@import 'Variables';

.containerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerMain {
  margin-top: 50px;
}

.subtitle {
  margin: 20px;
  font-size: 18px;
  color: $color-2;
  display: flex;
  justify-content: center;
  align-items: center;
}