@import 'Variables';

// FORMAS EN CSS https://css-tricks.com/the-shapes-of-css/

.containerFav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1.3);
  width: 220px;
  margin: 20px;
  padding: 40px;
  border: solid $color-2 5px;
  border-radius: 50px;
}

.fav__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin-top: 30px;
  font-size: 16px;
  text-transform: capitalize;
}
.fav__text--favPoke {
  text-transform: capitalize;
  font-size: 20px;
  color: $color-1;
  margin-top: 15px;
}

// STAR SHAPE START
.fav__star {
  margin: 50px 0;
  position: relative;
  display: block;
  color: $color-1;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid $color-1;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  z-index: -1;
}
.fav__star:before {
  border-bottom: 80px solid $color-1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
  z-index: -1;
}
.fav__star:after {
  position: absolute;
  display: block;
  color: $color-1;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid $color-1;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
  z-index: -1;
}
// STAR SHAPED

.fav__star--image {
  width: 100px;
  transform: translateX(-50px) rotate(-35deg) scale(0.9);
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
