@import 'Variables';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
}
.footer__item {
  margin-left: 5px;
  margin-right: 5px;
}
.footer__item:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.footer__item--icon{
  color: $color-2;
}
.footer__item--icon:hover{
  color: $color-1;
}

@media all and (min-width: 768px) {
  .footer {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .footer__item {
    margin-left: 8px;
    margin-right: 8px;
  }
}
