@import 'Variables';

.form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__subtitle {
  margin: 20px;
  color: $color-2;
  display: flex;
  justify-content: center;
  align-items: center;
}
