@import 'Variables';

.form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__subtitle {
  margin: 20px;
  font-size: 19px;
  color: $color-2;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  .containerForm {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
  }

  .form__subtitle {
    margin-top: 50px;
    font-size: 20px;
  }
}

@media all and (min-width: 1280px) {
}
