@import 'Variables';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input {
  width: 220px;
  height: 30px;
  border-radius: 10px;
  border: solid $color-2 1px;
  text-align: center;
  font-size: 16px;
  outline: inherit;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
