@import 'Variables';

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHeader__image {
  background: url('../images/pokemonLogo.png') no-repeat;
  background-size: contain;
  background-position: center center;
  height: 150px;
  width: 100%;
}
.containerHeader__text {
  margin: 15px;
  font-size: 20px;
  text-align: center;
}
.containerHeader__text--pokemon {
  text-transform: capitalize;
  color: $color-2;
  font-weight: bolder;
}

@media all and (min-width: 768px) {
  .containerHeader__image {
    height: 220px;
    transform: scale(1.1);
  }
}

@media all and (min-width: 1280px) {
}
