.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHeader__image {
  background: url('../images/headerPokemon.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70px;
  width: 100%;
}

.containerHeader__text {
  margin: 15px;
  font-size: 20px;
  text-align: center;
}
.containerHeader__text--pokemon {
  text-transform: capitalize;
  color: red;
  font-weight: bolder;
}
