.pokeList {
  width: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media all and (min-width: 768px) {
  .pokeList {
    width: 700px;
  }
}

@media all and (min-width: 1280px) {
}