.pokeContainer {
}

.pokeList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
}

@media all and (min-width: 768px) {
  .pokeList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1280px) {
}
