@import 'Variables';

.pokeCard {
  width: 120px;
  height: 200px;
  background: linear-gradient($color-2, $color-4);
  padding: 20px;
  border-radius: 20px;
  border: solid $color-5 1px;
  text-align: center;
}

.pokeTitle {
  text-transform: capitalize;
  font-size: 20px;
  color: $color-5;
}

.pokeTypes {
  font-size: 14px;
  text-align: start;
  color: $color-5;
}
