* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: sans-serif;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
